<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div layout="row" layout-align="center center">
        <h4>Get to know me better</h4>
    </div>
    <md-list flex layout="row" layout-align="center center" du-spy-context>
        <md-list-item>
            <md-button du-smooth-scroll du-scrollspy offseet="70" class="md-list-item-content" href="#section-main" ng-click="closeMenu()">
                <md-icon class="material-icons">account_circle</md-icon>
                <span class="md-inline-list-icon-label">About</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button du-smooth-scroll du-scrollspy offseet="70" class="md-list-item-content" href="#section-2" ng-click="closeMenu()">
                <md-icon class="material-icons" >lightbulb_outline</md-icon>
                <span class="md-inline-list-icon-label">Experience</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button du-smooth-scroll du-scrollspy offseet="70" class="md-list-item-content" href="#section-3" ng-click="closeMenu()">
                <md-icon class="material-icons" >style</md-icon>
                <span class="md-inline-list-icon-label">My Tags</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button du-smooth-scroll du-scrollspy offseet="70" class="md-list-item-content" href="#section-4" ng-click="closeMenu()">
                <md-icon class="material-icons" >contact_mail</md-icon>
                <span class="md-inline-list-icon-label">Contact</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
