<div layout="row" layout-sm="column" layout-xs="column" class="transparent-background">
    <div flex-gt-sm="33" flex-sm="100">
        <md-content layout-padding class="transparent-background">
            <!-- midia query here for below div to aligh image left if not sm -->
            <div style="margin: 0 auto; width:200px;">
                <img ng-src="http://www.gravatar.com/avatar/7288b59de57c7a5102ba331cbe6651f4?s=350" style="border-radius: 50%">
            </div>
        </md-content>
    </div>
    <div flex>
        <md-content layout-padding layout="column" layout-align="center center" class="transparent-background" style="color: white !important;">
            <div>Hi! I'm Mateusz Wilk a Web Developer</div>
            <div>
                <div ng-class="{'about-hide': showmore}" class="sample-show-hide" layout-padding layout="column" layout-align="center center">
                    <div>
                        {{about.first}}
                    </div>
                    <div>
                        {{about.second}}
                    </div>
                    <div>
                        {{about.third}}
                    </div>
                </div>
            </div>
            <div>
                <md-button hide-gt-xs aria-label="Show detailed description" href="" ng-click="showmore = !showmore">{{showmore == true ? "show more" : "show less"}}</md-button>
            </div>
        </md-content>
    </div>
</div>

<div id="current-role" layout="row" layout-sm="column" layout-xs="column">
    <div flex>
        <md-content layout-padding>
            <form>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Current Role</label>
                    <input ng-model="currentRole.title" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Current Company</label>
                    <input ng-model="currentRole.company" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Current Location</label>
                    <input ng-model="currentRole.location" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Education</label>
                    <input ng-model="currentRole.education" disabled>
                </md-input-container>
            </form>
        </md-content>
    </div>
    <div flex>
      <md-content layout-padding>
          <form>
              <md-input-container class="md-block" flex-gt-xs>
                  <label>Key skills</label>
                  <input ng-model="keySkills.programming" disabled>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                  <label>Testing</label>
                  <input ng-model="keySkills.testing" disabled>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                  <label>Continuous Integration</label>
                  <input ng-model="keySkills.ci" disabled>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                  <label>Soft skills</label>
                  <input ng-model="keySkills.soft" disabled>
              </md-input-container>
          </form>
      </md-content>
    </div>
</div>
