<md-content layout="column">
    <div layout="row" layout-sm="column" layout-xs="column" flex>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">fingerprint</md-icon>
                <div class="md-list-item-text">
                  <h3>BBC’s Authentication Tool</h3>
                  <h4>BBC</h4>
                  <p>Awarded (BBC's Innovation Awards),two factor authentication application for BBC employees and contractors to easily access internal BBC systems</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">dashboard</md-icon>
                <div class="md-list-item-text">
                  <h3>BBC’s iSite2 CMS</h3>
                  <h4>BBC</h4>
                  <p>Multitenant CMS to create and publish article pages, edit network homepages and present content using a variety of
                       content blocks including prose, images, clips, promotions and many more</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" flex>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">assessment</md-icon>
                <div class="md-list-item-text">
                  <h3>Student’s management system</h3>
                  <h4>Arbor Education</h4>
                  <p>Student benchmarking, analytics, and Management Information Systems for schools</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">group</md-icon>
                <div class="md-list-item-text">
                  <h3>Customer relationship management</h3>
                  <h4>Focus Telecom</h4>
                  <p>CRM with ability to create custom processes/workflows for more efficient customers tracking</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" flex>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">public</md-icon>
                <div class="md-list-item-text">
                  <h3>Mass sms delivery solution</h3>
                  <h4>Focus Telecom</h4>
                  <p>Web sms schedule delivery solution and sms campaigns manager with custom caller ID option and customer lists management.</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">dialer_sip</md-icon>
                <div class="md-list-item-text">
                  <h3>Call center system</h3>
                  <h4>Focus Telecom</h4>
                  <p>Cloud based multi channel fully automated system for handling inbound/outbound calls with IVR integration, calls queuing and
                       custom scenarios for redirection to an agent </p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column" flex>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">drive_eta</md-icon>
                <div class="md-list-item-text">
                  <h3>Vehicle and fleet tracking system</h3>
                  <h4>Expanse</h4>
                  <p>Real-time tracking and vehicle monitoring with critical information like speed, fuel consumption, engine status etc.</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-list>
              <md-list-item class="md-3-line">
                <md-icon class="material-icons" ng-style="{'font-size': 36 + 'px', height: 36 + 'px'}">devices</md-icon>
                <div class="md-list-item-text">
                  <h3>Various freelance jobs</h3>
                  <h4>Freelance</h4>
                  <p>Websites and web shops development, data visualisation, scripting, programming including front, back-end and
                  responsive web development</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>
